<!DOCTYPE html>
<html>
<head>
    <title>Delete Item</title>
    <link rel='stylesheet' href='/stylesheets/CommonStyle.css' />
</head>
<body>
<div class="container">
    <h1>Delete Item</h1>
    <p>Are you sure you want to delete the item: <%= item.title %>?</p>
    <form action="/item/delete/<%= item._id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
    </form>
    <a class="back-link" href="/item/list">Back to Item List</a>
</div>
</body>
</html>
