<!DOCTYPE html>
<html>
<head>
    <title>Delete Category</title>
    <link rel='stylesheet' href='/stylesheets/CommonStyle.css' />
</head>
<body>
<div class="container">
    <h1>Delete Category</h1>
    <p>Are you sure you want to delete the category: <%= category.title %>?</p>
    <form action="/category/delete/<%= category._id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
    </form>
    <a class="back-link" href="/category/list">Back to Category List</a>
</div>
</body>
</html>
