<!DOCTYPE html>
<html>
<head>
    <title>Update Category</title>
  <link rel='stylesheet' href='/stylesheets/CommonStyle.css' />
</head>
<body>
 <div class="container">
        <h1>Update Category</h1>
        <form action="/category/update/<%= category._id %>" method="POST">
            <label for="title">Title:</label>
            <input type="text" name="title" value="<%= category.title %>" required>
            <label for="description">Description:</label>
            <textarea name="description" required><%= category.description %></textarea>
            <label for="active">Active:</label>
            <input type="checkbox" name="active" <%= category.active ? 'checked' : '' %>>
            <button type="submit">Update Category</button>
        </form>
        <a class="back-link" href="/category/list">Back to Category List</a>
    </div>
</body>
</html>
